@model ProjEmpresa.Models.Empresa

@{
    ViewBag.Title = "Edit";
}

<h2>Atualizar dados da empresa</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Aperte consultar para atualizar os dados de acordo com a Receita Federal</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idEmpresa)

    <div class="form-group">
        @Html.Label("CNPJ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cnpj, new { htmlAttributes = new { @class = "form-control input required", Name = "cnpj", @id = "cnpj", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.cnpj, "", new { @class = "text-danger" })
            <br />
            @using (Html.BeginForm("BuscarCNPJAPI", "Controllers", FormMethod.Get))
            {
                <button type="submit" name="botao1" id="botao1">Ir para Action</button>
            }
            @*<a href="#" onclick="BuscarCnpj();" class="btn btn-default">Buscar CNPJ</a>*@
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Nome da Empresa", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Data de Abertura", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.dataAbertura, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dataAbertura, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Atividade Principal", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.atividade, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.atividade, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar Alterações" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para a Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
