@model IEnumerable<ProjEmpresa.Models.Empresa>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Empresas</h2>
<br />
<table class="table">
    <tr>
        <th>
            CNPJ
        </th>
        <th>
            Nome da Empresa
        </th>
        <th>
            Data de Abertura
        </th>
        <th>
            Atividades
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataAbertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.atividade)
        </td>
        <td>
            @Html.ActionLink("Atualizar dados", "Edit", new { id=item.idEmpresa }) |
            @Html.ActionLink("Deletar empresa", "Delete", new { id=item.idEmpresa })
        </td>
    </tr>
}

</table>
