@model IEnumerable<ProjEmpresa.Models.Empresa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cnpj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataAbertura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.atividade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataAbertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.atividade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEmpresa }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEmpresa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEmpresa })
        </td>
    </tr>
}

</table>
